<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/simpleCart.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="js/cart.js"></script>
</head>
<body>
<div class="header"></div>
<!--logo 搜索-->
<br>
<div align='center'>
    <div class="back_search_red">
        <form class="navbar-form" action="search">
            <input type="text" class="form-control" placeholder="请输入商品" name="name">
            <button type="submit" style="background-color:#F07818;color:white" class="btn btn-default" aria-label="Left Align">搜索</button>
        </form>
    </div>
</div>
<!--end-->
<hr>
<!--products-->
<div class="products">
    <div class="container">
        <h2>${type.name}</h2>
        <div class="col-md-12 product-model-sec">
            <c:forEach var="good" items="${goodList}">
                <div class="product-grid">
                    <a href="detail.html">
                        <div class="more-product"><span> </span></div>
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="images/4.jpg" class="img-responsive" alt="${good.name}" width="240" height="240">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button>查看详情</button>
                                </h4>
                            </div>
                        </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h4>${good.name}</h4>
                            <span class="item_price">¥ ${good.price}</span>
                            <input type="button" class="item_add items" value="添加收藏" onclick="favorite(${good.id})">
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </c:forEach>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//products-->

<div class="footer"></div>

<script src="js/jquery.min.js"></script>
<script>
    $(function(){
        $(".header").load("header.html");
        $(".footer").load("footer.html");
    });
</script>
</body>
</html>