<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDaoMapper">


    <select id="vfUser" resultType="com.pojo.Users">
    select userId,userName,userPwd,userDentify,userState,userNumber
     from users
     where userNumber=#{userNumber} and userPwd=#{userPwd}
    </select>


</mapper>